# Machine Learning - Redes Neuronales y Keras

**Relator: Felipe Mesa Abraham** 

Correo: femesa@udec.cl


En esta actividad se trabajará con la libreria [Keras](https://keras.io/), con el objetivo de entender los aspectos mas importantes para diseñar una red neuronal. La actividad consiste en un ejemplo sobre la creación de una red y un ejercicio guiado.

# Ejemplo

In [35]:
# Importamos librerias
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.utils import np_utils

In [76]:
dataframe = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
dataset = dataframe.values

# La red neuronal necesita que los datos esten como un numpy array
X = dataset[:, 0:4].astype(float)
Y = dataset[:,4]

In [77]:
# Codificamos los datos
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)
dummy_y = np_utils.to_categorical(encoded_Y)

In [78]:
# Dividimos en set de entrenamiento y test
X_train, X_test, y_train, y_test = train_test_split(X, dummy_y, test_size=0.3, random_state=42)

In [79]:
# Construimos la red neuronal
model = Sequential()
model.add(Dense(8, input_dim=4, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(3, activation='softmax'))
model.summary()

Model: "sequential_19"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_37 (Dense)            (None, 8)                 40

 dense_38 (Dense)            (None, 8)                 72

 dense_39 (Dense)            (None, 3)                 27

=================================================================
Total params: 139
Trainable params: 139
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compilamos el modelo y entrenamos
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train, batch_size=128, epochs=150, validation_split=0.1)

In [ ]:
# Evaluamos el desempeño
score = model.evaluate(X_test, y_test, verbose=0)
print("Test accuracy:", score[1])

# Ejercicio

A continuación se le presenta un dataset de datos de fuga de clientes. El objetivo de este ejercicio es diseñar una red neuronal muticapa para clasificar los clientes del dataset para saber si continua siendo cliente o no. Se le pide que diseñe una red neuronal y la entrene con el dataset entregado. Evalúe su red en el set de test y muestre el accuracy para este caso.

In [48]:
!gdown --id 1wSLivtMy1Sokalv9ukeehKpAv3c0SsrH

Downloading...
From: https://drive.google.com/uc?id=1wSLivtMy1Sokalv9ukeehKpAv3c0SsrH
To: /content/ejemplo_churn.csv
100% 735k/735k [00:00<00:00, 47.1MB/s]

In [49]:
df = pd.read_csv('/content/ejemplo_churn.csv')
df.head()

   gender  ...  PaymentMethod_Mailed check
0       1  ...                           0
1       0  ...                           1
2       0  ...                           1
3       0  ...                           0
4       1  ...                           0

[5 rows x 27 columns]

In [52]:
y_churn = df['Churn'].astype(float)
X_churn = df.drop('Churn', axis=1).astype(float)

In [53]:
# Dividimos en set de entrenamiento y test
X_train, X_test, y_train, y_test = train_test_split(X_churn, y_churn, test_size=0.3, random_state=42)

In [71]:
# Construimos la red neuronal
model = Sequential()
model.add(Dense(26, input_dim=26, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1,  activation='sigmoid'))
model.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_32 (Dense)            (None, 26)                702

 dense_33 (Dense)            (None, 1)                 27

=================================================================
Total params: 729
Trainable params: 729
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compilamos el modelo y entrenamos
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train, batch_size=128, epochs=150, validation_split=0.1)

In [ ]:
# Evaluamos el desempeño
score = model.evaluate(X_test, y_test, verbose=0)
print("Test accuracy:", score[1])